@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto','Noto Sans TC', sans-serif;
  color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.subtitle {
  color: black;
  text-align: center;
  font-size: 64px;
  line-height: 1.3125;
  font-weight: 500;
  font-style: italic;
}

header {
  background: url("../img/banner.png") center no-repeat;
  background-size: cover;
  height: 960px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

header p {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  line-height: 1.75;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}

.title span {
  font-size: 80px;
  line-height: 1.325;
  font-weight: 900;
  font-style: italic;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media li {
  width: 60px;
}

.social-media a {
  display: block;
  text-align: center;
  font-size: 40px;
  padding: 8px 9px;
  background: #891818;
  border: 1px solid #891818;
  border-radius: 15px;
  color: #ffffff;
}

.social-media a:hover {
  color: black;
  background: #ffffff;
}

.resume {
  padding: 56px 0px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

.resume .subtitle {
  margin-bottom: 40px;
}

.resume img {
  display: inline-block;
  margin-bottom: 20px;
}

.resume ul {
  line-height: 1.75;
}

.personal:after {
  content: "";
  display: block;
  max-width: 384px;
  margin: 24px auto 28px;
  border-bottom: 1px solid black;
}

.point {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #891818;
  border: 1px solid #891818;
  border-radius: 50%;
  margin-right: 16px;
}

.brand {
  text-align: center;
  background-color: black;
  padding-top: 56px;
  padding-bottom: 160px;
}

.brand .subtitle-white {
  color: #ffffff;
  margin-bottom: 12px;
}

.brand .thirdtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.75;
  font-style: italic;
  margin-bottom: 32px;
}

.brand p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 68px;
}

.brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand1 {
  margin-bottom: 40px;
}

.brand2 {
  margin-right: 24px;
}

.works {
  padding-top: 56px;
  padding-bottom: 144px;
  color: black;
}

.works-text .subtitle {
  margin-bottom: 16px;
}

.works-text p {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 56px;
}

.works-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.works-card {
  margin-bottom: 48px;
}

.works-card p {
  text-align: center;
  font-size: 20px;
  line-height: 2.1;
  font-weight: 500;
  font-style: italic;
}

.me-0 {
  margin-right: 0px;
}

footer {
  background: black;
  padding: 64px 0px;
  text-align: center;
}

footer .subtitle-white {
  color: #ffffff;
  margin-bottom: 16px;
}

.connection {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 16px;
}

.connection .connection:last-child {
  margin-bottom: 0px;
}

.connection:hover {
  color: #891818;
}
/*# sourceMappingURL=style.css.map */